## Words

In [ ]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
# your code here
uppercase_words = []
uppercase_words = [i.upper() for i in words]

uppercase_words

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [14]:
# your code here
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

# Mind blown:
long_words  = [i for i in words  if len(i) > 4]

long_words

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [26]:
# your code here
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

for first_word in words:
    if first_word.startswith('t'):
        print(f"The first word starting with 't' is: {first_word}")
        break

The first word starting with 't' is: theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [16]:
# your code here
squares = [num**2 for num in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [30]:
# your code here
squares_odds = [x**2 for x in range(1,11) if x %2 != 0]
squares_odds

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [32]:
# your code here
squares = [x**2 for x in range(1,999, 8)]
squares

[1,
 81,
 289,
 625,
 1089,
 1681,
 2401,
 3249,
 4225,
 5329,
 6561,
 7921,
 9409,
 11025,
 12769,
 14641,
 16641,
 18769,
 21025,
 23409,
 25921,
 28561,
 31329,
 34225,
 37249,
 40401,
 43681,
 47089,
 50625,
 54289,
 58081,
 62001,
 66049,
 70225,
 74529,
 78961,
 83521,
 88209,
 93025,
 97969,
 103041,
 108241,
 113569,
 119025,
 124609,
 130321,
 136161,
 142129,
 148225,
 154449,
 160801,
 167281,
 173889,
 180625,
 187489,
 194481,
 201601,
 208849,
 216225,
 223729,
 231361,
 239121,
 247009,
 255025,
 263169,
 271441,
 279841,
 288369,
 297025,
 305809,
 314721,
 323761,
 332929,
 342225,
 351649,
 361201,
 370881,
 380689,
 390625,
 400689,
 410881,
 421201,
 431649,
 442225,
 452929,
 463761,
 474721,
 485809,
 497025,
 508369,
 519841,
 531441,
 543169,
 555025,
 567009,
 579121,
 591361,
 603729,
 616225,
 628849,
 641601,
 654481,
 667489,
 680625,
 693889,
 707281,
 720801,
 734449,
 748225,
 762129,
 776161,
 790321,
 804609,
 819025,
 833569,
 848241,
 863041,
 877969,
 893025,
 908209,
 923521,
 938961,
 954529,
 970225,
 986049]

## People

In [ ]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [36]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

num_people = len(people)

num_people

5

**How many people have kids**?

In [42]:
# your code here

people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

people_kids = sum(1 for person in people if person["n_kids"] >0)

people_kids

4

**How many kids do they have in total?**

In [46]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

total_kids = sum(person["n_kids"] for person in people)

total_kids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [61]:

update_people = [
    {
        "name": person["name"], 
        "age": person["age"] + 1, 
        "n_kids": person["n_kids"] + (1 if person["name"].endswith("a") else 0)
    }
    for person in people
]

update_people

[{'name': 'Juan', 'age': 35, 'n_kids': 2},
 {'name': 'Pepe', 'age': 28, 'n_kids': 0},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Lucía', 'age': 23, 'n_kids': 3},
 {'name': 'Leo', 'age': 56, 'n_kids': 5}]